<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%=listName%></h1>
    </div>
    <div class="box">
      <%for(var i=0; i<listItems.length; i++){%>
        <form class="" action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="checkbox" value= "<%= listItems[i]._id %>" onChange= "this.form.submit()">
            <p class="item"><%= listItems[i].name %></p>
          </div>
          <input type="hidden" name="listName" value="<%= listName %>"></input>
        </form>
      <%}%>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add New!">
        <button type="submit" name="button" value=<%= listName %>>+</button>
      </form>
    </div>
<%- include("footer") -%>
